{{!-- The Post --}}
<div class="d-block p-2 pb-0">
  <div class="card shadow-sm mb-2 bg-light rounded" data-id="{{post.id}}" id="post-card">
    <div class="card-header d-flex justify-content-between">
      <h5 class="mb-0">{{post.title}}</h5>
      <small class="text-white">Posted by {{post.user.name}} on {{format_date post.updatedAt}}</small>
    </div>
    <div class="card-body">
      <p>{{post.content}}</p>
    </div>
  </div>

  {{!-- Update Button and Update Form --}}
  {{#if logged_in}}
  <div class="d-flex justify-content-between mb-3">
    <button type="button" class="btn btn-info" id="update-button">Update Post</button>
    <button type="button" class="btn btn-danger" id="delete-post">Delete Post</button>
  </div>
  <div class="updatepost-card d-none w-75 mx-auto" id="updatepost-card">
    <h2>Update Your Blog</h2>
    <form class="updatepost-form">
      <div class="mb-3">
        <label for="update-title" class="form-label fs-5">Update Your Title</label>
        <input type="text" class="form-control" id="update-title">
      </div>
      <div class="mb-3">
        <label for="update-content" class="form-label fs-5">Update Your Content</label>
        <textarea class="form-control" id="update-content" rows="3"></textarea>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger" id="close-update">Close</button>
      </div>
    </form>
  </div>
  {{/if}}

  {{!-- Comment Cards --}}
  {{#if post.comments}}
  <div class="d-block mt-5">
    {{#each post.comments as |comment|}}
    {{> comments}}
    {{/each}}
  </div>
  {{/if}}

  {{!-- Comment Form --}}
  {{#if logged_in}}
  <div class="d-block mt-5">
    <div class="card p-3 shadow-sm">
      <form class="addcomment-form">
        <div class="mb-3">
          <label for="comment-content" class="form-label fs-5">Add a Comment</label>
          <textarea class="form-control" id="comment-content" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  {{/if}}
</div>

<script src="/js/createComment.js"></script>